*{
    box-sizing: border-box;
}


body{
    margin: 0;
    direction: rtl;
    text-align: right;
    
}

main{
    position: relative;
}

header{
    height: 72px;
    background: rgb(141, 141, 141);
    
    
    
}

nav{
    background: linear-gradient(360deg, hsla(0, 0%, 67%, 1) 0%, hsla(0, 0%, 56%, 1) 40%);
    height: 33px;
    display: flex;
    flex-direction: row;
}

footer{
    display: fix; 
    width: 100vw; 
    background: linear-gradient(360deg, hsla(0, 0%, 56%, 1) 75%, hsla(0, 0%, 70%, 1) 100%);
    position: fixed;
    height: 38px;
    bottom:0;

}

#fc{
    height: 17px;
    width: 17px;
    border:1px white solid;
    border-radius: 10%;
}

main>.flex-top-container{
    display: flex;
    flex-grow:10;   
}
.flex-top-left{
    flex:23.1985;
    background: linear-gradient(360deg, hsla(0, 0%, 67%, 1) 0%, hsla(0, 0%, 56%, 1) 15%);
}
.flex-top-center{
    flex:53.603;
}
.flex-top-right{
    flex:23.1985;
    background: linear-gradient(360deg, hsla(0, 0%, 67%, 1) 0%, hsla(0, 0%, 56%, 1) 15%);

}


.decoration{
    list-style-type: none;
    color: white;
    
    
        
}

.list>.decoration:nth-child(even){
    margin: 0 5px; 
}



.decoration>a{
    color: white;
    text-decoration: none;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;

}

#bottom-links{
    margin-top: 16.333px;
    position:relative;
    
}

#bottom-links>ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0;
    padding: 0; 
    
}

.top-container{
    display: flex;
}

.top-container>.list{
    display: flex;
}



div[class$="-container"]{
    position: relative;
    
}
div[class~="-container"]:first-child{
    font-family: Arial, Helvetica, sans-serif;
}

.list-type{
    list-style-type: none;
    background: rgb(144, 144, 144);
    padding: 0;
    position: absolute;
    top: 100%;
    
}



.list-type>li>a{
    color:white;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

#paz-tag{
    display: block;
    width: 142px;
    height: 93px;
    
    bottom: 10px;
    right:61.3333px;
    z-index: 9999;
}

ul[class~="list-type"]{
    display: none;
}

div[class$="-container decoration"]:hover > ul[class~="list-type"]{
    display: block;
}
div[class$="-container decoration"]:hover>.blue{
    color:rgb(0,92,160);
    text-decoration: underline;
    
}