*{
    box-sizing: border-box;
}


body{
    margin: 0;
    direction: rtl;
    text-align: right;
    
}

.top-backgrund{
    background: linear-gradient(360deg, hsla(0, 0%, 67%, 1) 0%, hsla(0, 0%, 56%, 1) 15%);
}
main{
    position: relative;
}

header{
    height: 4.5rem;
    background: transparent; 
    position: relative; 
}

nav{
    background: transparent;
    height: 2.0625rem;
    display: flex;
    flex-direction: row;
    width: 100%; 
    
}

footer{
    display: fix; 
    width: 100vw; 
    background: linear-gradient(360deg, hsla(0, 0%, 56%, 1) 70%, hsla(0, 0%, 70%, 1) 100%);
    position: fixed;
    height: 2.375rem;
    bottom:0;

}

#fc{
    height: 1.063rem;
    width: 1.063rem;
    border:0.063rem white solid;
    border-radius: 10%;
}

.flex-top-container{
    display: flex;
    justify-content: center;
    background:transparent;
}
.flex-top-left{
    width: calc(50vw - 450px);
    background: transparent;
}
.flex-top-center{
    width:900px;
}
.flex-top-right{
    width: calc(50vw - 450px);
    background:transparent;
}

footer>.footer-container{
    display:flex;
}

.left-footer{
    width: calc(50vw - 450px);
    background: transparent
}
#bottom-links{
    width:900px;
}
.right-footer{
    width: calc(50vw - 450px);
    background: transparent;
}




.decoration{
    list-style-type: none;
    color: white;
    
    
    
        
}

.list>.decoration:nth-child(even){
    margin: 0 0.313rem; 
}



.decoration>a{
    color: white;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.938rem;
    display: flex;
    height: 100%;
    padding-bottom: 0;    
    

}

#bottom-links{
    margin-top: 1.021rem;
    position:relative;
    
}

#bottom-links>ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0;
    padding: 0; 
    
}

.relative{
    position: relative;
}


.top-container>.list{
    display: flex;   
}

.float-right{
    float: right;
}



div[class~="-container"]:first-child{
    font-family: Arial, Helvetica, sans-serif;
    
}
.blue{   
    padding-bottom :1.25rem;
    
}

.list-type{
    list-style-type: none;
    background: rgb(144, 144, 144);
    padding: 0;
    position: absolute;
    z-index: 99999;
    top: 100%;
    /* display: flex;
    flex-direction: column;
    flex-wrap: wrap; */
}

.list-type:first-child{
    background:linear-gradient(360deg, hsla(0, 0%, 56%, 1) 75%, rgb(221, 221, 221) 100%); ;
}

.margin-right-143{
    margin: 0 8.938rem 0 0;
    padding: 0;
    
}

.list-type>li>a{
    color:white;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

#paz-tag{
    position: absolute;
    width: 8.875rem;
    height: 5.813rem;
    right: -0.5rem;
    bottom: -1.25rem;
    z-index: 9999;
    
}

.dropdown-list{
    display: none;
}

.a-container:hover > .dropdown-list{
    display: block;
    z-index: 99999;

}
.a-container:hover>.blue{
    color:rgb(0,92,160);
    text-decoration: underline;
    
}

.margin-right-143>.decoration:nth-child(even){
    margin: 0 1rem;
    color: rgb(219, 219, 219);
    font-size: 0.9375rem;
    display: flex;
    
}

.blue{
    color:white;
    text-decoration: none;
    position: relative;
    font-weight: bold;
    font-size: 0.938rem;
    font-family: Arial, Helvetica, sans-serif;
    display: inline;   
}

.list-type>li:hover,.list-type>li:hover>a {
    color:rgb(0,92,160);
    text-decoration: underline;
    background: rgb(189, 189, 189);
    
}

.list-type>li{
    border-top: 1px solid rgb(187, 187, 187);
    padding: 2px 3px;
    font-weight: bold;
    width: 100%;
    

}

.form{
    position: absolute;
    left: 20px;
    top:20px;
    
    
    
    
}
input{
    border-top-right-radius: 9px 25%;
    border: none;
    width: 132px ;
    float: right;
    height: 19px;
    color:black;
}


input::placeholder{
    color:black
}

.form>img{
    
    width: 19px;
    height: 19px;
    left: 0;
}


header>a{
    float: left;
    
    margin-left: 190px;
    margin-top: 22px;
    font-size: 12px;
    font-weight: bold;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

.center-top-container{
    display: flex;
    flex-direction: column;
}

.center-top{
    display:flex;
    margin-top: 30px;
    justify-content: space-between;
}
.center-holder{
    display:flex;
}

img[src ^="center-top-"]{
    display: block;
    height: 355px;
    width: 293px;
    border:1px solid white;
    border-bottom-right-radius: 18px 6%;
    
}

.leftside{
    width: calc(50vw - 450px);
    
}
.center-center{
    width:900px;
}
.rightside{
    width: calc(50vw - 450px);
}    

.grey{
    position: absolute;
    background-color: rgb(138, 138, 138);
    width: 248px;
    height: 97px;
    bottom:6px;
    right: 8px;
    z-index: 5;
    opacity: 0.90;
    padding: 10px ;
    border-bottom-right-radius: 23px 21%;
    color:white;
   
    
}

article[class ^= "center-top"]{
    position: relative;
}

.grey>h5{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    margin: 0;
    font-weight: bold;
    
}

.grey>p{
    margin: 4px 0 0 0;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    
    
    
}

.read>a{
    /* font-family: Arial, Helvetica, sans-serif; */
    color:white;
    font-size: 13px;
    font-weight: normal;
    line-height: 0.4;
    
}

.read{
    position: absolute;
    left: 12px;
    bottom: 5px;
    
}


div[class^="center-bottom"]{
    border:2px solid rgb(236, 236, 236);
    height: 216px ;
    width: 292px;
    display: flex;
    flex-direction: column;
    padding: 0 24px;
    border-top-right-radius: 20px 10%;
    background: linear-gradient(0deg, hsla(0, 0%, 93%, 1) 0%, hsla(0, 0%, 100%, 1) 100%);

   

}

.bottomo{
    display: flex; 
    justify-content: space-between;
    
}
.bottomo>div[class^="center-bottom"]>.tip>p{
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: rgb(87,87,87);
    margin-right: 4px; 
}
    
.direction{
    float: right;
}

.tip:last-of-type{
    display: flex;
    justify-content: space-between;
    padding: 0 24px;
}
  
.tip:last-of-type>.direction>div>a{
    color:rgb(114,113,109);
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
}

.direction>div:first-of-type>a{
    padding-left: 5px;
}

#ceom{
    margin-top: 20px;
}

div[class^="center-bottom"]>.tip:first-of-type>p{
    margin: 7px auto;
}
div[class^="center-bottom"]>.tip:first-of-type>p{
    margin: 7px auto;
}

hr.hr{
    border-top:rgb(224,224,224) 1px solid;
}

div[class^="center-bottom"]>.tip:nth-of-type(2){
    margin-top: 7px;
}


div[class^="center-bottom"]:first-of-type>.tip:last-of-type>.readmore,div[class^="center-bottom"]:nth-of-type(2)>.tip:last-of-type>.readmore{
    position: absolute;
    left:0;
    top: 12px;
}

div[class^="center-bottom"]:first-of-type>.tip:last-of-type,div[class^="center-bottom"]:nth-of-type(2)>.tip:last-of-type{
    position: relative;;
    color: black;

}
div[class="readmore"]>a{
    color:#72716d;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    
}